* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-control {
  width: 100%;
}

.MuiContainer-root {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

.srv-validation-message {
  font-family: roboto;
  font-size: small;
  color: grey;
  margin-top: 10px;
}
